<div class="col-xs-12">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th class="col-xs-6 col-sm-8">Navn</th>
                <th class="col-xs-1">Alle</th>
                <th class="col-xs-5 col-sm-3">Deadline</th>
                <th class="text-center" colspan="2"><span class="glyphicon glyphicon-option-horizontal"></span></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: punctualities">
                <tr>
                    <td data-bind="text: id"></td>
                    <td data-bind="text: name"></td>
                    <td><span class="glyphicon" data-bind="css: all ? 'glyphicon-ok' :'glyphicon-remove'"></span></td>
                    <td data-bind="text: deadline.toLocaleString()"></td>
                    <td><a data-bind="attr: {href: '@Url.Action("Status")/' + id}" class="btn btn-primary btn-xs" title="Vis status"><span class="glyphicon glyphicon glyphicon-th"></span></a></td>
                    <td><button data-bind="click: sendDelete" class="btn btn-danger btn-xs" title="Slet"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Ny punktlighed</div>
        <div class="panel-body">
            <form class="form-horizontal" data-bind="submit: sendCreate, with: newPunctuality">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Navn</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Navn" data-bind="value: name, valueUpdate: 'afterkeydown'">
                    </div>
                </div>
                <div class="form-group">
                    <label for="deadlineDate" class="col-sm-2 control-label">Dato</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="deadlineDate" placeholder="Dato" data-bind="value: deadlineDate">
                    </div>
                </div>
                <div class="form-group">
                    <label for="deadlineTime" class="col-sm-2 control-label">Tid</label>
                    <div class="col-sm-10">
                        <input type="time" class="form-control" id="deadlineTime" placeholder="Tid" data-bind="value: deadlineTime">
                    </div>
                </div>
                <div class="form-group">
                    <label for="all" class="col-sm-2 control-label">Alle i patruljen</label>
                    <div class="col-sm-10">
                        <input type="checkbox" id="all" data-bind="checked: all">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" data-bind="enable: isValid">Opret punktlighed</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            ko.applyBindings(new Punctuality.Index.App());
        });
    </script>
}
