<div class="col-xs-12">
    <div class="alert alert-info" data-bind="visible: swipes().length || !question()">Sving en teamtryllestav før næste spørgsmål.</div>
    <div data-bind="foreach: swipes">
        <div data-bind="text: $data"></div>
    </div>
    
</div>

@section Body {data-bind="event: { keydown: function(d,e) { rfid.keydown(e); return true; } }"}

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            ko.applyBindings(new Quiz.Index.App());
        });
    </script>
}