<div class="row">
    <div class="col-xs-12">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th class="col-xs-3">Kollegie</th>
                <th class="col-xs-9">Fordeling</th>
                <th lass="text-center"><span class="glyphicon glyphicon-option-horizontal"></span></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: houses">
                <tr>
                    <td data-bind="text: houseName"></td>
                    <td data-bind="visible: !isExpanded(), foreach: intervals">
                        <span class="label" data-bind="text: scoutName + ': ' + (amount() || '?') + ' min', css: amount() ? 'label-success' : 'label-danger'"></span>
                    </td>
                    <td data-bind="visible: isExpanded">
                        <form class="form-horizontal" data-bind="submit: sendSave">
                            <div><strong data-bind="text: next"></strong></div>
                            <div class="list-group" data-bind="foreach: intervals">
                                <button type="button" class="list-group-item" style="padding: 5px 10px" data-bind="click: function(data) { $parent.setInterval(data); }">
                                    <span class="badge" data-bind="visible: amount, text: amount() + ' min'"></span>
                                    <span data-bind="text : scoutName"></span>
                                </button>
                            </div>
                            <button type="submit" class="btn btn-primary btn-xs" data-bind="enable: !availableIntervals().length && !isSaved()">Gem</button> <span class="label label-warning" data-bind="visible: !availableIntervals().length && !isSaved()">Ændringer er ikke gemt!</span>
                        </form>
                    </td>
                    <td><button data-bind="click: toggleExpanded, attr: { title: isExpanded() ? 'Skjul': 'Vis'}" class="btn btn-default btn-xs"><span data-bind="css: isExpanded() ? 'glyphicon-chevron-up': 'glyphicon-chevron-down'" class="glyphicon glyphicon-chevron-down"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/MagicGamesApp.js"></script>
    <script type="text/javascript">
        $(function() {
            ko.applyBindings(new MagicGames.App());
        });
    </script>
}